configure

; Limit MAC address on client ports
no port-security 
no port-security 1-24 
port-security 1-24 address-limit 5 
port-security 25-28 address-limit 0
no port-security 25-28
no port-security 1-28 learn inactive

; Drop CISCO CDP, PVST
classifier CDP destination-mac 01:00:0c:cc:cc:cc  
classifier PVST destination-mac 01:00:0c:cc:cc:cd  
policy CISCO-SYS classifier CDP,PVST vlan 1 egress-port 1 priority 0 bandwidth 0 forward-action drop
policy CISCO-SYS classifier CDP,PVST vlan 1 egress-port 1 priority 0 bandwidth 64 forward-action drop
policy CISCO-SYS classifier CDP,PVST egress-port 1 priority 0 dscp 0 tos 0 bandwidth 0 forward-action drop

; Storm control, loopguard and DHCP Snooping on client ports
storm-control 
loopguard

; Client ports settings
interface port-channel 1-24
  vlan1q port-isolation 
  broadcast-limit 
  broadcast-limit 15 
  no multicast-limit 
  no dlf-limit 
  loopguard 
  no dhcp snooping trust
  no arp inspection trust
  no pppoe intermediate-agent trust
exit 

; Trunk ports settings
interface port-channel 25-28
  no vlan1q port-isolation 
  frame-type tagged 
  vlan-trunking 
  no multicast-limit
  no dlf-limit
  broadcast-limit 
  broadcast-limit 10000   
  no loopguard
  dhcp snooping trust
  arp inspection trust
  pppoe intermediate-agent trust
exit
exit

